<html>
<head>
<title>PriCoSha</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:white">
<div class="jumbotron" style = "background-color:blue;">
  <font color = "white"> 
  	<center>
  <h1>PriCoSha</h1> 
  <p>Your private content sharing site.</p> 
</center> 
  </font>
</div>
<div class = "container">
<form action="/loginAuth" method="POST">
	<input type="text" name = "username" placeholder="username" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
	<input type="submit" value = Login />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Go back</a>
</div>

</body>


</html>
