<html>
<head>
<title>PriCoSha</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron" style = "background-color:blue;">
  <font color = "white">
<center>
  <h1>PriCoSha</h1> 
  <p>Your private content sharing site.</p> 
</center>  
  </font>
</div>
<div class = "container">
<form action="/registerAuth" method="POST">
  
  <div class = "form-group"> 
    <div class="form-group">
      <label for="usr">Username:</label>
      <input type="text" class="form-control" id="usr" name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name = "password">
    </div>
  </div> 
    <div class = "form-group"> 
    <div class="form-group">
      <label for="fn">First Name:</label>
      <input type="text" class="form-control" id="fn" name="fname">
    </div>
    <div class="form-group">
      <label for="ln">Last Name:</label>
      <input type="text" class="form-control" id="ln" name = "lname">
    </div>
  </div> 
	<input type="submit" class = "btn btn-primary btn-block" value = Register />
	{% if error %}
<div class="alert alert-danger">
  <strong> Error </strong> {{error}}
</div>	{% endif %}
</form>

<a href="/">Go back</a>
</div> 

</body>


</html>
